<%= stylesheet_link_tag "event", :media => "all" %>
<%= stylesheet_link_tag "abcd", :media => "all" %>

<div class="mx-3 my-4 main-container">トップ</div>

<div class= "d-flex flex-row">
<div class="col">
<a class="twitter-timeline" data-width="500" data-height="700" data-theme="light" href="https://twitter.com/YOASOBI_staff?ref_src=twsrc%5Etfw">Tweets by YOASOBI_staff</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div>

<div class="col">
<textarea rows="5" style="resize: vertical; width: 400px; height: 300px;">
  ここにテキストをハードコードします。
  複数行にまたがることができます。
</textarea>
</div>
</div>