<h1>Editing data page</h1>

<%= render "form", data_page: @data_page %>

<br>

<div>
  <%= link_to "Show this data page", @data_page %> |
  <%= link_to "Back to data pages", data_pages_path %>
</div>
