<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、連絡ありがとうございます</h1>
    <p>
      入力していただいた、メールアドレスまたは電話番号に連絡させていただきますので、
      お待ちください。

    </p>
  </body>
</html>