<%= stylesheet_link_tag "abcd", :media => "all" %>
<div class="mx-3 my-4 main-container">女性求人</div>
<div class="p-3">
<div>３日間で必ず12万円稼げます。</div>
<div>嬉しい賞金システム♪</div>
<div>週1で指名をいただけた場合、
指名料とは別に特別賞金あり！
最高でなんと300,000円を稼ぐなんてことも！
エコグループなら女の子の頑張りを
しっかり賞金として反映するので、
やりがいもどんどんアップします♪</div>
<div>今だけの三代入店特典！</div>
<div>1. 今なら入店祝い金１５万円プレゼント致します！<br>
2. 3日間で１２万円のお給料を保証致します！<br>
3. 面接にお越しいただければ100%採用致します！<br>
この三つの魅力的な特典はエコグループだけ！<br>
ぜひお気軽にご応募ください!!</div>
</div>

<div class="d-flex flex-row">
 <div class="d-flex flex-column p-3">
   <%= render "form", user: @user %>
 </div>
  <div class="p-3">
  <iframe width="640" height="360" src="https://www.youtube.com/embed/PLfDg7Hgsn0" title="東京タワー クラウドファンディング目標達成！特別ライトアップを点灯！" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   </div>
</div>
