<p style="color: green"><%= notice %></p>

<h1>Options</h1>

<%= link_to "新規作成", new_option_path %>

<div id="options">
  <% @options.each do |option| %>
    <%= render option %>
    <p>
      <%= link_to "削除", option %>
    </p>
  <% end %>
</div>


