<h1>管理者画面</h1>


    <a class="nav-link active" aria-current="page" href="/girls/new">女の子作成</a>

    <a class="nav-link active" aria-current="page" href="/girls/janitor">女の子編集及び削除</a>

    <a class="nav-link active" aria-current="page" href="/schedules/new">出勤日追加</a>

    <a class="nav-link active" aria-current="page" href="/schedules">出勤日の編集及び削除</a>

    <a class="nav-link active" aria-current="page" href="/bookings">予約時間入力</a>

    <a class="nav-link active" aria-current="page" href="/options/new">女の子にオプション追加</a>

    <a class="nav-link active" aria-current="page" href="/options">オプションの編集及び削除</a>

    <a class="nav-link active" aria-current="page" href="/option_lists/new">オプション作成</a>

    <a class="nav-link active" aria-current="page" href="/tags/new">タグ作成</a>

    <a class="nav-link active" aria-current="page" href="/tags">タグの編集及び削除</a>

    <a class="nav-link active" aria-current="page" href="/ryokins">コース料金の編集</a>

    <a class="nav-link active" aria-current="page" href="/events">イベント設定</a>


